html, body {
    /* height: 100%; */
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'League Spartan', sans-serif !important;
  }

.background-color-1{
  background-color:#f7a071;
}

.background-color-2{
  background-color:#45193f;
}

.navbar {
  opacity: 0;
  animation: hide-navbar 0.5s;
}

.navbar.show {
  opacity: 1;
  animation: show-navbar 0.25s;
}

@keyframes hide-navbar {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes show-navbar {
  from {opacity: 0;}
  to {opacity: 1;}
}

.nav-text {
  color:#45193f !important;
}

.nav-text.light {
  color:#f7a071 !important;
}
.nav-text:hover {
  color:white !important;
}


.sections {
  min-height: 100vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-container {
  display:flex;
  height:60%;
  width: 100%;
  align-items:center;
  justify-content: center;
}
.text-box-container-big {
    display:flex;
    /* height:100%; */
    align-items:flex-end;
    /* justify-content: flex-end; */
    flex-direction: column;
  }

.text-box {
    display:flex;
    width: 100%;
    justify-content: flex-end;
  }
  
.text-box h2 {
    font-size: min(25vh, 25vw);
    color: #45193f;
    font-weight: bold;
    text-align:end;
    margin-bottom:0%;
    display: flex;
  }

.text-box p {
    width:80%;
    
    text-align:right;
    margin-top:0%;
    font-size: min(5vh, 5vw);
    color:  #45193f;
    /* transform: translate(0%, -10%); */
  }

.text-box h3 {
    font-size: min(7vh, 7vw);
    color:  #45193f;
    margin-bottom: 40px;
  }

  /* experience panel */

.set-center {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.experiences-section {
  display:flex;
  flex-direction: column;
  /* width:90%;
  height:80%; */
  
}
.experience-box {
  display:flex;
  align-items:center;
  justify-content: center;
}

.justify-left {
  justify-content: flex-start;
  text-align: left;
}

.justify-right {
  justify-content: flex-end;
  text-align: right;
}

.experience-logo {
  background-color: #f7a071;
  height: max(min(18vw, 18vh),120px);
  width: max(min(18vw, 18vh),120px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f7a071;
  border-radius: 20px;
}

.experience-description {
  font-size: 15px;
  width:80%;
  color: #f7a071;
  border: 1px solid #f7a071;
  border-radius: 20px; 
}

.experience-description b {
  font-size: 25px;
}
.experience-description h5 {
  color: rgb(235, 235, 235);
}

.experience-description p {
  font-size: 18px;
}

.experience-description-cover {
  height: 100%;
  position: absolute;
  top:0%;
  z-index: 2;
  background-color:#45193f;
}


.cover-left {
  left:0;
}
.cover-right {
  right: 0;
}

.run-experience-description-cover {
  animation: remove-cover 1.7s;
  animation-timing-function: ease-in-out;
}

@keyframes remove-cover {
  from {width: 100%;}
  to {width: 0%;}
}


.panel-label {
  /* height: 30px;
  width: 30px; */
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2;
}
.panel-label h3 {
  font-size: min(15vh, 15vw);
  font-weight: bold;
  color:#f7a071;
}
.panel-label h2 {
  font-size: max(min(8vh, 8vw), 40px);
  font-weight: bold;
  overflow:visible;
  color:#f7a071;
}


.hexagon-section-1 {
  display:flex;
  flex-direction: column;
  width:80%;
  height:80%;
  
  justify-content: center;
  align-items: center;
  position: relative;
}
.hexagon-section-2 {
  display:flex;
  flex-direction: column;
  width:100%;
  height:75%;
  
  position: absolute;
}

.hexagons-row-1 { /* for the top and bottom rows */
  flex: 1;
  display:flex;
  
  width:100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hexagons-row-2 { /* for the middle two rows */
  flex: 1;
  display:flex;
  
  width:100%;
  justify-content: center;
  align-items: center;
}
.hexagons-box {
  height:150px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:2;
  position: relative;
}

.rolling-img {
  transition: transform 0.8s;
}

.project-info-circle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%; /* Creates a circle by setting the border-radius to 50% */
  border: 2px solid rgb(235, 235, 235);
  background-color: #45193f; /* Specify the background color for the circle */
  z-index:0;
  transition: transform 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-outer-circle {
  width: 70%;
  height:70%;
  align-items: center;
  justify-content: center;
} 

.hexagons-box:hover .rolling-img.roll-left {
  transform: translate(-80%, 0%) rotateZ(-30deg);
}
.hexagons-box:hover .rolling-img.roll-right {
  transform: translate(80%, 0%) rotateZ(30deg);
}
.hexagons-box:hover .rolling-img.move_vertically {
  transform: translate(0%, 0%) rotateZ(30deg);
}

.hexagons-box:hover .project-info-circle.circ_translate2.roll-right {
  transform: translateX(200%);
}
.hexagons-box:hover .project-info-circle.circ_translate2 {
  transform: translateX(-200%);
}
.hexagons-box:hover .project-info-circle.circ_translate1.roll-right {
  transform: translateX(100%);
}
.hexagons-box:hover .project-info-circle.circ_translate1 {
  transform: translateX(-100%);
}

.hexagons-box:hover .project-info-circle.move_vertically {
  z-index: 3;
}
.hexagons-box:hover .project-info-circle.circ_translate1.move_vertically {
  transform: translateX(100%);
}
.hexagons-box:hover .project-info-circle.circ_translate2.move_vertically {
  transform: translateX(-100%);
}





.letter-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.letter-box {
  width: 170px;
  height: 170px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.PS-container {
  color:rgb(235, 235, 235);
  width:80%;
  height:80%;
  font-style: italic;
  font-size: 25px;
  text-align: center;
}