body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'League Spartan', sans-serif !important;
  }

.background-color-1{
  background-color:#fd8f55;
}

.background-color-2{
  background-color:#45193f;
}

.nav-text {
  color:white !important;
}
.nav-text:hover {
  color:#fd8f55 !important;
}


.sections {
  min-height: max(100vh, 1000px);
  width: 100vw;
  display: flex;
  overflow-y: hidden;
  
}
.photo-container {
  display:flex;
  height:60%;
  width: 100%;
  align-items:center;
  justify-content: center;
}
.text-box-container-big {
    display:flex;
    /* height:100%; */
    align-items:flex-end;
    /* justify-content: flex-end; */
    flex-direction: column;
  }

.text-box {
    display:flex;
    width: 100%;
    justify-content: flex-end;
  }
  
.text-box h2 {
    font-size: max(min(25vh, 25vw), 200px);
    color: #45193f;
    font-weight: bold;
    text-align:end;
    margin-bottom:0%;
    display: flex;
  }

.text-box p {
    width:80%;
    
    text-align:right;
    margin-top:0%;
    font-size: max(min(3vh, 3vw), 24px);
    color:  white;
    /* transform: translate(0%, -10%); */
  }

.text-box h3 {
    font-size: max(min(5vh, 5vw), 40px);
    color:  white;
    margin-bottom: 40px;
  }

  /* experience panel */

.set-center {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.experiences-section {
  display:flex;
  flex-direction: column;
  width:90%;
  height:80%;
  
}
.experience-box {
  flex: 1;
  display:flex;
  align-items:center;
  justify-content: center;
  
}

.justify-left {
  justify-content: flex-start;
  text-align: left;
}

.justify-right {
  justify-content: flex-end;
  text-align: right;
}

.experience-logo {
  background-color: white;
  height: max(min(18vw, 18vh),120px);
  width: max(min(18vw, 18vh),120px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 20px;
}

.experience-description {
  padding: 2px;
  font-size: 15px;
  width:80%;
  display: flex;
  /* overflow: hidden; */
  position: relative;
  z-index:1;
  color:white;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px; 
}

.experience-description b {
  font-size: 23px;
  
}
.experience-description p {
  font-size: 18px;
}

.experience-description-cover {
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top:0%;
  z-index: 2;
  background-color:#45193f;
}


.cover-left {
  left:0;
}
.cover-right {
  right: 0;
}

.run-experience-description-cover {
  animation: remove-cover 1.7s;
  animation-timing-function: ease-in-out;
}

@keyframes remove-cover {
  from {width: 100%;}
  to {width: 0%;}
}


.experience-header {
  height: 30px;
  width: 30px;
  margin-bottom: 13px;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2;
}
.experience-header h3 {
  font-size: max(min(15vh, 15vw), 100px);
  font-weight: bold;
  color:white;
}


.hexagon-section-1 {
  display:flex;
  flex-direction: column;
  width:80%;
  height:80%;
  
  justify-content: center;
  align-items: center;
  position: relative;
}
.hexagon-section-2 {
  display:flex;
  flex-direction: column;
  width:100%;
  height:75%;
  
  position: absolute;
}

.hexagons-row-1 { /* for the top and bottom rows */
  flex: 1;
  display:flex;
  
  width:100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hexagons-row-2 { /* for the middle two rows */
  flex: 1;
  display:flex;
  
  width:100%;
  justify-content: center;
  align-items: center;
}
.hexagons-box {
  
  height: min(100%, 160px);
  width: min(100%, 160px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index:2;
}
.hexagons-box-left {
  transform: translate(-25%, 0%);
}
.hexagons-box-right {
  transform: translate(25%, 0%);
}

.project-info-circle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%; /* Creates a circle by setting the border-radius to 50% */
  background-color: rgb(53, 191, 255); /* Specify the background color for the circle */
  z-index:0;
  transition: transform 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-info-circle-2 {
  background-color:greenyellow;
}
.project-info-circle-3 {
  background-color:orange;
}

.logo-outer-circle {
  width: 70%;
  height:70%;
  
  align-items: center;
  justify-content: center;
} 

.hexagons-box:hover .project-info-circle.circ_bl {
  transform: translate(-120%, 65%);
}
.hexagons-box:hover .project-info-circle.circ_b {
  transform: translate(0%, 135%);
}
.hexagons-box:hover .project-info-circle.circ_br {
  transform: translate(120%, 65%);
}
.hexagons-box:hover .project-info-circle.circ_tl {
  transform: translate(-120%, -65%);
}
.hexagons-box:hover .project-info-circle.circ_t {
  transform: translate(0%, -130%);
}
.hexagons-box:hover .project-info-circle.circ_tr {
  transform: translate(120%, -65%);
}

.letter-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.letter-box {
  width: 170px;
  height: 170px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.PS-container {
  display:flex;
  width:80%;
  height:80%;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
}

.PS-container-title-box {
  font-weight: bold;
  font-size: max(min(15vh, 15vw), 100px);
}

.PS-container p {
  
  font-size: 25px;
  text-align:center;
}