body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

.sections {
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-y: hidden;
}

.text-box-container-big {
    display:flex;
    height:100%;
    width: 45%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.text-box {
    display:flex;
    width: 100%;
    border: 1px solid black;
    /* align-items:flex-end; */
    justify-content: flex-end;
  }
  
.text-box h1 {
    font-size: min(25vh, 25vw);
    color: #45193f;
    border: 1px solid black;
    text-align:end;
    margin-bottom:0%;
  }

.text-box p {
    width:80%;
    border: 1px solid black;
    text-align:right;
    margin-top:0%;
    font-size: min(3vh, 3vw);
    color:  white;
    /* transform: translate(0%, -10%); */
  }

.text-box h3 {
    /* transform: translate(50%, -90%); */
    font-size: min(5vh, 5vw);
    font-weight: bold;
    color:  white;
  }

.set-center {
  align-items: center;
  justify-content: center;
}

.experiences-section {
  display:flex;
  flex-direction: column;
  width:80%;
  height:80%;
}

.experience-box-left {
  flex: 1;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  border: 1px solid black;
}

.experience-box-right {
  flex: 1;
  display:flex;
  align-items:center;
  justify-content: flex-end;
  border: 1px solid black;
}

.experience-logo {
  border: 1px solid black;
  height: min(100%, 18vw, 18vh);
  width: min(100%, 18vw, 18vh);
}

.experience-description {
  padding:2px;
  border: 1px solid black;
}