html, body {
    /* height: 100%; */
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'League Spartan', sans-serif !important;
  }

.background-color-1{
  background-color: #e28782;
  /* background-color:#e28782; */
  /* background-color:#e28782; #e28782 */
}

.background-color-2{
  background-color:#45193f;
}

.navbar-nav {
  opacity: 0;
  animation: hide-navbar 0.5s;
}

.navbar-nav.show {
  opacity: 1;
  animation: show-navbar 0.25s;
}

.navbar-brand {
  text-shadow: 0px 0px 5px #45193f;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  /* pallavi*/
  border-color: white;
  box-shadow: 0 0 5px #45193f;

} 

@keyframes hide-navbar {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes show-navbar {
  from {opacity: 0;}
  to {opacity: 1;}
}

.nav-text {
  color:#45193f !important;
  /* text-shadow: 1px 1px 4px white, -1px -1px 4px white, 1px -1px 4px white, -1px 1px 4px white; */
  /* text-shadow: 0px 0px 1px #fff9a3; */

}

.nav-text.light {
  color:#fff9a3 !important;
  text-shadow: 0px 0px 1px #e28782;
}
.nav-text:hover {
  color:white !important;
}

.video-container {
  position: relative;
  height: 100vh; /* Set the video container's height to cover the full viewport height */
  overflow: hidden; /* Hide any overflowing content */
}

.video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
}

/* Make the video cover the entire container */
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sections {
  min-height: 100vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-container {
  display:flex;
  height:60%;
  width: 100%;
  align-items:center;
  justify-content: center;
}
.text-box-container-big {
    display:flex;
    /* height:100%; */
    align-items:flex-end;
    /* justify-content: flex-end; */
    flex-direction: column;
  }

.text-box {
    display:flex;
    width: 100%;
    justify-content: flex-end;
  }
  
.text-box h2 {
    font-size: min(20vh, 20vw);
    color: #45193f;
    font-weight: bold;
    text-align:end;
    margin-bottom:0%;
    display: flex;
  }

.text-box p {
    width:80%;
    
    text-align:right;
    margin-top:0%;
    font-size: min(4vh, 4vw);
    color:  #45193f;
    /* transform: translate(0%, -10%); */
  }

.text-box h3 {
    font-size: min(6vh, 6vw);
    color:  #45193f;
    margin-bottom: 40px;
  }

  /* experience panel */

.set-center {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.experiences-section {
  display:flex;
  flex-direction: column;
  /* width:90%;
  height:80%; */
  
}
.experience-box {
  display:flex;
  align-items:center;
  justify-content: center;
}

.justify-left {
  justify-content: flex-start;
  text-align: left;
}

.justify-right {
  justify-content: flex-end;
  text-align: right;
}

.experience-logo {
  background-color: #ce7571;
  height: max(min(18vw, 18vh),120px);
  width: max(min(18vw, 18vh),120px);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #e28782; */
  border-radius: 20px;
}

.experience-description {
  font-size: 15px;
  width:60%;
  color: #e28782;
  border: 1px solid #e28782;
  border-radius: 20px; 
}

/* .experience-description b {
  font-size: 25px; */
/* } */
.experience-description h5 {
  color: #ffcecc;
  /* color: #fff8a2; */
  /* text-shadow: 0px 0px 1px #ffd699; */
  /* color: #fff8a2; */
}

.experience-description ul {
  font-size: 20px;
  color: #ffcecc;
  justify-content: flex-start;
  text-align: left;
}

.experience-description-cover {
  height: 100%;
  position: absolute;
  top:0%;
  z-index: 2;
  background-color:#45193f;
}


.cover-left {
  left:0;
}
.cover-right {
  right: 0;
}

.run-experience-description-cover {
  animation: remove-cover 1.7s;
  animation-timing-function: ease-in-out;
}

@keyframes remove-cover {
  from {width: 100%;}
  to {width: 0%;}
}


.panel-label {
  /* height: 30px;
  width: 30px; */
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2;
  text-align: center;
}
.panel-label h3 {
  font-size: min(15vh, 15vw);
  font-weight: bold;
  color:#e28782;
}
.name_box {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: min(16vh, 16vw);
  font-weight: bold;
  color:#45193f;
  text-align: center;
  /* border: 1px solid black; */
  /* border-radius: 20px;  */
  /* padding: 0 2vw 0; */
  /* box-shadow: 0px 0px 15px white; */
  text-shadow: 1px 1px 4px white, -1px -1px 4px white, 1px -1px 4px white, -1px 1px 4px white;
  /* text-shadow: 1px 1px 1px white; */
}



.panel-label h2 {
  font-size: max(min(8vh, 8vw), 40px);
  font-weight: bold;
  overflow:visible;
  color:#e28782;
}


.hexagon-section-1 {
  display:flex;
  flex-direction: column;
  width:80%;
  height:80%;
  
  justify-content: center;
  align-items: center;
  position: relative;
}
.hexagon-section-2 {
  display:flex;
  flex-direction: column;
  width:100%;
  height:75%;
  
  position: absolute;
}

.hexagons-row-1 { /* for the top and bottom rows */
  flex: 1;
  display:flex;
  
  width:100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hexagons-row-2 { /* for the middle two rows */
  flex: 1;
  display:flex;
  
  width:100%;
  justify-content: center;
  align-items: center;
}
.hexagons-box {
  height:150px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:2;
  position: relative;
}

.rolling-img {
  transition: transform 0.8s;
}

.project-info-circle {
  position: absolute;
  height: 100px;
  width: 100px;
  /* border-radius: 50%;  */
  border: 2px solid #45193f;
  /* background-color: #45193f;  */
  background-color: #ffcecc;  
  z-index:0;
  transition: transform 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-outer-circle {
  width: 70%;
  height:70%;
  align-items: center;
  justify-content: center;
} 

.hexagons-box:hover .rolling-img.roll-left {
  transform: translate(-80%, 0%) rotateZ(-30deg);
}
.hexagons-box:hover .rolling-img.roll-right {
  transform: translate(80%, 0%) rotateZ(30deg);
}
.hexagons-box:hover .rolling-img.move_vertically {
  transform: translate(0%, 0%) rotateZ(30deg);
}

.hexagons-box:hover .project-info-circle.circ_translate2.roll-right {
  transform: translateX(200%);
}
.hexagons-box:hover .project-info-circle.circ_translate2 {
  transform: translateX(-200%);
}
.hexagons-box:hover .project-info-circle.circ_translate1.roll-right {
  transform: translateX(100%);
}
.hexagons-box:hover .project-info-circle.circ_translate1 {
  transform: translateX(-100%);
}

.hexagons-box:hover .project-info-circle.move_vertically {
  z-index: 3;
}
.hexagons-box:hover .project-info-circle.circ_translate1.move_vertically {
  transform: translateX(100%);
}
.hexagons-box:hover .project-info-circle.circ_translate2.move_vertically {
  transform: translateX(-100%);
}





.letter-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.letter-box {
  width: min(100px, 25vw);
  height: min(100px, 25vw);
  /* margin: 3px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #e28782; */
  text-align: center; 

}

.link-box a {
  width: 100px;
  height:100px;
  /* border: 1px solid #e28782; */
  margin: 100px;
  text-decoration: none;
  color:white;
  text-shadow: 0px 0px 4px #45193f;
}
.link-box a:hover {
  /* Optional: Add styles for the link on hover */
  color:  #45193f;
  text-shadow: 0px 0px 4px white;
}

.PS-container {
  color:#ffcecc;
  width:80%;
  height:80%;
  font-style: italic;
  font-size: 25px;
  text-align: center;
}