/* FOR TESTING ------------------------------ */
.test-border {
  border: 1px solid blue; 
}
/* END OF TESTING */

/* FOR BACKGROUND LAYOUT ------------------------------ */
.background-basic {
  background-color: #45193f;
  width:100vw; /* ensures that the width adjusts to screen width */
  height: max(100vh,700px); /* ensures that the height equal to screen height. */
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
.colors {
  color: #45193f;
  color: #7b417b;
  color: #af73a9;
  color: #fd5862;
  color: #fd7769;
  color: #fd8f55;
} 
/* END OF BACKGROUND LAYOUT */

/* FOR VIDEO AND CORRESPONDING TEXT ------------------------------ */
.video-container {
    position: relative;
  }
  
.video {
    width: 100vw;
    height: 100vh;
}

.video-text-overlay {
    position: absolute; /* the element can be placed anywhere on page (NOT relative to parent). */
    top: 50%; /*move top left edge till half of parent height */
    left: 50%; /*move top left edge till half of top width */
    transform: translate(-50%, -50%); /*move up and riight 50% of OWN width; centered achieved. */
    z-index: 1; /* stacking order. higher val, on top*/
    color: white;
    font-size: 24px;
    text-align: center; /*This property horizontally aligns the text within the element to the center.*/
}
/* END OF VIDEO AND CORRESPONDING TEXT */

/* FOR TEXT - BIO PAGE ------------------------------ */
.container { /* for text in BIO page */
    display: flex; 
    height: min(60vh, 60vw);
    width:  min(70vh, 70vw);
    border: 1px solid #000;
    position: relative;
    flex-direction: column;
  }

.title-container { /*for bigger letters */
    align-items: flex-end;
    justify-content: flex-end;
}
  

.text-container { /* for all text */
    position: relative;
  }
  
  .text-container h1 {
    font-size: min(30vh, 30vw);
    color: #45193f;
    text-align:end;
  }
  .text-container h3 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    font-size: min(5vh, 5vw);
    font-weight: bold;
    color:  white;
  }
  
  .text-container p {
    top: 0;
    right: 0;
    text-align:end;
    /* transform: translate(50%, 50%); */
    font-size: min(3vh, 3vw);
    font-weight: 1;
    color:  white;
  }
/* END OF TEXT - BIO PAGE */

/* FOR FLEX CONTAINERS */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 0 0 25%; /* Adjust the percentage as needed */
  width: max(20vh,20vw);
  height: max(20vh,20vw); /* Adjust the height as needed */
  background-color: #ccc;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex; /* this box will be a flex box */
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) or (orientation: portrait) {
  .flex-item {
    flex-basis: 100%; /* Set to 100% to stack in a column */
  }
} 

.square {
width: min(100%,max( 18vh));
height: min(100%,max( 18vh));
background-color: #ffcccc;
display:flex;
}
/*END OF FLEX CONTAINERS */

/* FOR FLIPPED CARDS */
.flip-card {
  background-color: transparent;
  width: 100%;
  height:100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
/* END OF FLIPPED CARDS */



  